/* //@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

.post-select {
  padding:0.25rem 1.55rem!important;
  width:25%;
  font-size: 0.925rem;
  border: 1px solid #e4e6ef;
  background-color: #f5f8fa;
  border-color: #f5f8fa;
  border: 1px solid #e4e6ef;
  border-top-right-radius: 0.475rem;
  border-bottom-right-radius: 0.475rem;
  color: #5e6278;
  height: 40px;
}

.post-select:focus{
    outline: none;
}

.section-auth{
  background-color: #E9ECF8; 
  height: 100vh;
}

/* //#0293ef */